
#grid-container {
  position: relative;
  width: 500px;
  height: 500px;
}





.drag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  cursor: move;
}

.btn {
  position: relative;
  bottom: -150px;
  /* other button styles */
}
